[Desktop Entry]
Name=Mantid Terminal
Comment=Use the command line
Exec=mantid
Icon=utilities-terminal
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
